* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham-Pro-black", sans-serif;
}

body {
    background-color: #ECF3FB;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    line-height: 140%;
}